{# templates/index.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
    <nav>
        <a href="{{ path('home') }}">Accueil</a>
        <a href="{{ path('bonjour') }}">Bonjour</a>
        <a href="{{ path('bonjourNom', {nom: 'toto'}) }}">Bonjour Toto</a>
        <a href="{{ path('exercice1') }}">Comment allez vous?</a>
        <a href="{{ path('exercice2') }}">Quelle heure est-il?</a>
        <a href="{{ path('exercice3', {pseudo: 'toto', age:'33'}) }}">Bonjour Toto avec âge?</a>
    </nav>
    <h1>Ceci est ma page d'accueil</h1>
    Bonjour {{ nom }}
    <p><a href="bonjour/">Lien vers la page bonjour</a></p>
    <p><a href="{{ path('bonjourNom', {nom: 'titi'}) }}">Lien vers la page bonjour titi</a></p>
    {# path prends comme premier argument le nom de la route et ensuite on déclare les placeholder (ici  nom) en leur attribuant une valeur#}
</body>
</html>