{% extends 'layout.html.twig' %}

{% block title %}Articles | all{% endblock %}

{% block content %}

    {# pour afficher tout type de message flash #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {# affichage des articles #}
    {% for article in articles %}
        <h1>{{ article.title }}</h1>
        <small> publié par {{ article.author }} le {{ article.datepubli|date('d/m/Y') }}</small>
        <p>{{ article.content }}</p>
    {% endfor %}

{% endblock %}
