{% extends 'layout.html.twig' %}

{% block title %}Articles | all{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                {{ dump(articles) }}
                {% for article in articles %}
                    <h1>{{ article.title }}</h1>
                    {#
                        articles étant un tableau de tableaux, on a accède aux infos de l'utilisateur depuis article :
                        article.username, article.email
                    #}
                    <small> publié par {{ article.username }} le {{ article.date_publi|date('d/m/Y') }}</small>
                    <p>{{ article.content }}</p>
                {% endfor %}
            </div>

            <div class="col-md-6">
                {{ dump(articles2) }}
                {% for article in articles2 %}
                    <h1><a href="{{ path('article_show', {id: article.id}) }}">{{ article.title }}</a></h1>
                    {#
                        articles étant un tableau d'objets, on a article.user
                        user étant lui aussi un objet, on fait article.user.username ou article.user.email
                    #}
                    <small> publié par {{ article.user.username }} le {{ article.datePubli|date('d/m/Y') }}</small>
                    <p>{{ article.content }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
